<h3>Lista Prenotabili</h3>
<button class="btn btn-success">Aggiungi Prenotabile</button>
<table>
    <thead>
        <tr>        
            <th>Codice</th>        
            <th>Nome</th>
            <th>Data Inizio</th>
            <th>Data Fine</th>
            <th>Ora Inizio</th>          
            <th>Ora Fine</th>          
            <th>modifica</th>
            <th>elimina</th>
        </tr>
    </thead>
    
    <tbody>
        <tr app-dettagli-utente *ngFor="let p of listaUtenti" [utente]='p'
            (onDeleteUser) = "onDeleteUser($event)"></tr>
    </tbody>    
</table>

<p><a [routerLink]="['/login']">Logout</a></p> 
