<h3>Lista Prenotabili</h3>
<button [routerLink]="['create']" class="btn btn-success" style="margin-bottom: 1.3em">Aggiungi Prenotabile</button>

<router-outlet></router-outlet>

<table class="text-center">
    <thead>
        <tr>        
            <th>Codice</th>        
            <th>Nome</th>
            <th>Data Inizio</th>
            <th>Data Fine</th>
            <th>Ora Inizio</th>          
            <th>Ora Fine</th>          
            <th>modifica</th>
            <th>elimina</th>
        </tr>
    </thead>
    
    <tbody>
        <tr app-dettagli-prenotabile *ngFor="let p of listaPrenotabili" [prenotabile]='p'></tr>
    </tbody>    
</table>
