<h2>Modifica Prenotabile</h2>
<form [formGroup]="updatePrenotabileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="codice">Codice</label>
    <input type="text" formControlName="codice" class="form-control" />
</div>

<div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" formControlName="nome" class="form-control" />
</div>

<div class="form-group">
    <label for="data_inizio">Data Inizio</label>
    <input type="text" formControlName="data_inizio" class="form-control" />
</div>

<div class="form-group">
    <label for="data_fine">Data Fine</label>
    <input type="text" formControlName="data_fine" class="form-control" />
</div>

<div class="form-group">
    <label for="ora_inizio">Ora Inizio</label>
    <input type="text" formControlName="ora_inizio" class="form-control" />
</div>

<div class="form-group">
    <label for="ora_fine">Ora Fine</label>
    <input type="text" formControlName="ora_fine" class="form-control" />
</div>

<div class="form-group">
    <button [disabled]="loading" class="btn">Inserisci Prenotabile</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <a [routerLink]="['/adminHome']" class="btn btn-link" style="margin-left: 7px;">Indietro</a>
</div>
</form>
