<div style="font-family: Tahoma; padding: 10px;  overflow-x:auto;">
<h3>Lista Prenotazioni</h3>
<table class="text-center">
    <thead>
        <tr>        
            <th>ID Prenotazione</th>        
            <th>Matricola Utente</th>
            <th>Codice Prenotabile</th>
            <th>Data</th>
            <th>Ora Inizio</th>            
            <th>Ora Fine</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let p of listaPrenotazioni" >
                <td>{{p.id_p}}</td>
                <td>{{p.utente}}</td>
                <td>{{p.prenotabile}}</td>
                <td>{{p.data_prenotazione}}</td>
                <td>{{p.ora_inizio}}</td>
                <td>{{p.ora_fine}}</td>
                <td>
                        <button class="mod" (click)='updatePrenotazione()'><img src="./assets/img/modify.jpg"/></button>
                    </td>
                    <td>
                        <button class="del" (click)='deletePrenotazione(prenotazione)'><img src="./assets/img/delete.jpg"/></button>
                    </td>
        </tr>
    </tbody>    
</table>
</div>