<div style="font-family: Tahoma; padding: 10px;  overflow-x:auto;">
<h3>Lista Prenotazioni</h3>
<table class="text-center">
    <thead>
        <tr>        
            <th>ID Prenotazione</th>        
            <th>Matricola Utente</th>
            <th>Codice Prenotabile</th>
            <th>Data</th>
            <th>Ora Inizio</th>            
            <th>Ora Fine</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        <tr app-dettagli-prenotazione *ngFor="let p of listaPrenotazioni" [prenotazione]='p'></tr>
    </tbody>    
</table>
</div>