<!-- main app container -->
<div class="jumbotron" style ="overflow-x:auto">
    <div class="container">
        <div class="row">
            <div class="col-sm-9" style="text-align: left">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>

            <div class="col-sm-3" style="text-align:center">
                <img src = "./assets/img/AD.png">
            </div>

        </div>
    </div>
</div>

<!-- credits -->
<div class="row">
    <div class="col-sm-4">
    </div>
    
    <div class="col-sm-4">
        <p style="text-align: center">Qui vengono i crediti dell'azienda, con i recapiti e l'indirizzo</p>
    </div>
    
    <div class="col-sm-4">
    </div>
</div>