<div style="font-family: Tahoma; padding: 10px;  overflow-x:auto;">
    <h3>Lista Utenti</h3>
    <div style="margin-bottom: 10px; margin-bottom: 1.3em;">
       <button [routerLink]="['create']" class="btn btn-success">Aggiungi Utente</button>
	</div>
	
	<router-outlet></router-outlet>

    <table class="text-center" >
       <thead>
          <tr>
             <th>Matricola</th>
             <th>Nome</th>
             <th>Cognome</th>
             <th>Email</th>
             <th>Password</th>
             <th>modifica</th>
             <th>elimina</th>
          </tr>
       </thead>
       <tbody>
        <tr app-dettagli-utente *ngFor="let u of listaUtenti" [user]='u'></tr>
	   </tbody>
    </table>
 </div>