<h2>Crea Nuovo Prenotabile</h2>
<form [formGroup]="createPrenotabileForm" (ngSubmit)="onSubmit()">
   
    <div class="form-group">
        <label for="codice">Codice</label>
        <input type="text" formControlName="codice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codice.errors }" />
        <div *ngIf="submitted && f.codice.errors" class="invalid-feedback">
            <div *ngIf="f.codice.errors.required">Codice necessario</div>
        </div>
    </div>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">Nome necessario</div>
        </div>
    </div>

    <div class="form-group">
        <label for="data_inizio">Data Inizio</label>
        <input type="text" formControlName="data_inizio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.data_inizio.errors }" />
        <div *ngIf="submitted && f.data_inizio.errors" class="invalid-feedback">
            <div *ngIf="f.data_inizio.errors.required">Data Inizio necessaria</div>
        </div>
    </div>

    <div class="form-group">
        <label for="data_fine">Data Fine</label>
        <input type="text" formControlName="data_fine" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.data_fine.errors }" />
        <div *ngIf="submitted && f.data_fine.errors" class="invalid-feedback">
            <div *ngIf="f.data_fine.errors.required">Data Fine necessaria</div>
        </div>
    </div>

    <div class="form-group">
        <label for="ora_inizio">Ora Inizio</label>
        <input type="text" formControlName="ora_inizio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ora_inizio.errors }" />
        <div *ngIf="submitted && f.ora_inizio.errors" class="invalid-feedback">
            <div *ngIf="f.ora_inizio.errors.required">Ora inizio necessaria</div>
        </div>
    </div>

    <div class="form-group">
        <label for="ora_fine">Ora Fine</label>
        <input type="text" formControlName="ora_fine" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ora_fine.errors }" />
        <div *ngIf="submitted && f.ora_fine.errors" class="invalid-feedback">
            <div *ngIf="f.ora_fine.errors.required">Ora Fine necessaria</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Inserisci Prenotabile</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/login']" class="btn btn-link">Indietro</a>
    </div>
</form>
