<h2>Modifica Utente</h2>
<form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="matricola">Matricola</label>
        <input type="text" formControlName="matricola" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matricola.errors }" />
        <div *ngIf="submitted && f.matricola.errors" class="invalid-feedback">
            <div *ngIf="f.matricola.errors.required">Matricola necessaria</div>
        </div>
    </div>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">Nome necessario</div>
        </div>
    </div>
    <div class="form-group">
        <label for="cognome">Cognome</label>
        <input type="text" formControlName="cognome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cognome.errors }" />
        <div *ngIf="submitted && f.cognome.errors" class="invalid-feedback">
            <div *ngIf="f.cognome.errors.required">Cognome necessario</div>
        </div>
    </div>
    <div class="form-group">
        <label for="mail">E-Mail</label>
        <input type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
        <!--<div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
            <div *ngIf="f.mail.errors.required">E-Mail richiesta</div>
        </div> --> 
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password richiesta</div>
            <div *ngIf="f.password.errors.minlength">Password deve essere di almeno 6 caratteri</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn">Salva</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/adminHome/utenti']" class="btn btn-link" style="margin-left: 7px;">Indietro</a>
    </div>
</form>
