<div style="overflow-x:auto">

<h1 style="font-family: Tahoma">Ciao {{currentUser.nome}}!</h1>
<p style="font-family: Tahoma">Gestisci le tue Prenotazioni</p>
<h3 style="font-family: Tahoma">Prenotazioni:</h3>

<div class="container">
    <div class="row">
         <div class="col-md-12" style="display:inline-table;">
            <table style="font-family: Tahoma">
            <thead class="text-center">
                <tr>                
                    <th>ID Prenotazione</th>
                    <th>MAtricola Utente</th>
                    <th>Codice Prenotabile</th>
                    <th>Data Prenotazione</th>
                    <th>Ora Inizio</th>
                    <th>Ora Fine</th>
                </tr>
            </thead>

            <tbody class="text-center">
                <tr app-dettagli-prenotazioni *ngFor="let p of prenotazioni" [prenotazione]='p'></tr>
            </tbody>    
            </table>
        </div>
        </div>
    </div>            
   
    <div style="margin-top: 10px;">
        <button type="button" class="btn btn-danger" (click)='deleteAllPrenotazioni()'>Cancella Tutto</button>
    </div>

<p><a [routerLink]="['/login']" class="btn btn-danger" style="margin-top: 15px;" role="button" routeLinkActive="active">Logout</a></p> 
